[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "codelink"]
	path = codelink
	url = https://github.com/ddiez/codelink
[submodule "rTRM"]
	path = rTRM
	url = https://github.com/ddiez/rtrm
[submodule "rTRMui"]
	path = rTRMui
	url = https://github.com/ddiez/rtrmui
